/* General */

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Style+Script&family=Syne:wght@500&family=Zeyada&display=swap');


body {
    background-color: #ece7e7;
    display: inline-block;
    font-family: 'Anek Latin', sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: 'Zeyada', cursive;
    font-size: 40px;
    margin: 0;
    padding: 2px;
    text-align: center;
}

h2 {
    text-align: center;
}

.header-img {
    height: auto;
    width: 100%;
}

.intro {
    background-image: url("/media/map.jpg");
    padding: 5px;
}

footer {
    background-color: #D2CBCB;
    color: #75666d;
    padding: 2px;
}


/* Form */

#weatherForm button {
    background-color: #ADA0A6; 
    border: 2px solid #D2CBCB; 
    color: #ffffff; 
    font-family: 'Anek Latin', sans-serif;
    padding: 8px 16px;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
  }
  
  #weatherForm button:hover {
    background-color: #D2CBCB; 
    color: #000000; 
    cursor: pointer;
  }
  
  #weatherForm button:active {
    background-color: #ADA0A6; 
  }
  
  #weatherForm button::before {
    line-height: 20px;
    margin-right: 5px;
    vertical-align: middle;
  }

  form {
    padding: 30px;
}

input[type='text'] {
  font-family: 'Anek Latin', sans-serif;
}


/* Table */

.hidden {
    display: none;
}

table {
  display: table;
  border-collapse: collapse;
  max-width: 100% !important;
  width: 100% !important;
  }
  
  th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid #a49696;
  }
  
  th {
    background-color: #D2CBCB;
    font-size: 20px;
    padding: 15px;
  }

  tr:hover {
    background-color: #a49696;
  }

/* Media Queries */

@media screen and (min-width: 800px) {
    h1 {
        font-size: 60px;
    }

    #weatherForm {
      font-size: 20px;
      margin: 0 auto;
      width: fit-content;
      }

      #weatherForm button {
        font-size: 14px;
      }

      input[type='text'] {
        font-size: 16px;
      }

    #weatherInfo {
        margin: 0 auto;
        width: fit-content;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 0;
      }
      
      .sidebar {
        background-color: #68728d;
        padding: 0;
      }
      
      .intro {
        padding: 20px;
      }

  }